@charset "utf-8";

.plantillasContainer{
	position: fixed;
  top: 7%;
  right: 1%;
	width: 300px;
	height: 300px;
	background-color: rgba(20, 20, 20, 90%);
  padding: 30px 20px ;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.plantillasSlider{
  display: flex;
	aspect-ratio:16/9;
  overflow-y: auto;
  margin: 35px auto;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 0.2rem 1.5rem 0.25rem hsla(0, 0%, 100%, 0.35);
  border-radius: 3px;;
}

.plantillasSlider img {
  flex:1 0 100%;
  scroll-snap-align: start;
  object-fit: cover;
  border-radius: 3px;
}


.fuentesContainer {
  position: fixed;
  top: 7%;
  left: 1%;
  width: 300px;
  height: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 30px 20px;
  background-color: rgba(20, 20, 20, 90%);
  border-radius: 6px;
  text-align: center;
}

.fuentesSlider {
  margin:auto;
}

.btnFlechas img {
  width:50px;
  height: 50px;
}

.btnFlechas:hover img{
  transform: scale(1.2);
  filter: brightness(1.2);
}

#plantillas {
  position: fixed;
  top: 50%;
  right: 0%;
  transform: translate(0, -50%); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  z-index: 1000;
  text-align: center;
  background-color: rgba(79,171,237,0.58);
  height: 90%;
  width: 20%;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
}

