/* CSS Document */

#salida {
	width: 400px;
    margin: 20px auto; /* Añade margen arriba del área de salida */
    border: 1px solid #ccc; /* Borde sólido ligero */
    padding: 10px; /* Relleno dentro del área de salida */
    min-height: 100px; /* Altura mínima */
    background-color: #f9f9f9; /* Color de fondo claro */
    overflow-wrap: break-word;/* Asegura que el texto largo se rompa y no desborde el contenedor */
}

.container{
	background-color:rgba(67,244,208,90%);
	border-radius:10px;
	border:1px solid linear-gradient(115deg,rgba(36,32,56,50%),rgba(32,54,24,50%));
	width:60%;
	margin:auto;
	max-width: 800px;
}

.indicator{
	margin:auto;
	width:30%;
	font-family:Tahoma;
	color: red;
	visibility: hidden;
}

body{
	background-image: url("../img/fondo.jpg");
	background-size:cover;
}